 <nav>
   <div class="nav-bar">
     <div class="left-image">
       <img src="../assets/vcep-logo.jpg" alt="vc-logo">
     </div>
     <div class="right-section">
       <ul class="nav nav-pills">
        <li class="nav-link"><a routerLink = "/">HOME</a></li>
         <li class="nav-link"><a href="#">SUMMARY</a></li>
         <li class="nav-link"><a [routerLink] = "['/grant']">GRANTS</a></li>
         <li class="nav-link"><a href="#">CONTRIBUTIONS</a></li>
         <li class="nav-link"><a href="#">INVESTMENTS</a></li>
         <li class="nav-link"><a href="#">RESOURCES</a></li>
         <li class="nav-link"><a href="#">MY ACCOUNT</a></li>
       </ul>
     </div>
   </div>
 </nav>